*.fastq
processed_data/frag_peak_calling/sam_stats.txt
processed_data/frag_peak_calling/frag_stats.txt
processed_data/frag_peak_calling/3prime.txt
processed_data/frag_peak_calling/barcode_maps.txt
processed_data/frag_peak_calling/5prime.txt
processed_data/frag_peak_calling/U00096.2_Align.sam
processed_data/frag_peak_calling/pFrag_80.txt
processed_data/frag_peak_calling/pFrag_83.txt
processed_data/frag_peak_calling/U00096.2_frag-rLP5_LB_expression.txt
processed_data/endo_scramble/pEndoScramble_81.paired.assembled.fastq
processed_data/endo_scramble/pEndoScramble_80.paired.assembled.fastq
processed_data/endo_scramble/pEndoScramble_81.paired.discarded.fastq
processed_data/endo_scramble/pEndoScramble_80.paired.discarded.fastq
processed_data/endo_scramble/endo_scramble_merged.fastq
processed_data/endo_scramble/endo_scramble_mapping_barcode_statistics.txt
processed_data/endo_bc_map_merged_reads_pear/pEndo2_85.paired.assembled.fastq
processed_data/endo_bc_map_merged_reads_pear/pEndo2_84.paired.assembled.fastq
processed_data/endo_bc_map_merged_reads_pear/pEndo2_85.paired.discarded.fastq
processed_data/endo_bc_map_merged_reads_pear/pEndo2_84.paired.discarded.fastq
processed_data/endo_bc_map_merged_reads_pear/endo_merged.fastq
processed_data/filtered_fragments_sorted.txt
processed_data/peak_tile/peak_tile_merged.fastq
processed_data/peak_tile/pPeakTiling_83.paired.assembled.fastq
processed_data/peak_tile/pPeakTiling_82.paired.assembled.fastq
processed_data/peak_tile/pPeakTiling_83.paired.discarded.fastq
processed_data/peak_tile/pPeakTiling_82.paired.discarded.fastq
processed_data/peak_tile/peak_tile_mapping_barcode_statistics.txt
processed_data/expression_pipeline/imperfects/endo_lib_imperfects.fasta
processed_data/expression_pipeline/imperfects/endo_mapping_imperfect_variant_statistics.txt
processed_data/expression_pipeline/imperfects/endo_lib_imperfects.txt
processed_data/expression_pipeline/endo_mapping_barcode_statistics.txt
raw_data/endo_scramble/bc_map/pEndoScramble_80_S1_R1_001.fastq
raw_data/endo_scramble/bc_map/pEndoScramble_80_S1_R2_001.fastq
raw_data/endo_scramble/bc_map/pEndoScramble_81_S2_R2_001.fastq
raw_data/endo_scramble/bc_map/pEndoScramble_81_S2_R1_001.fastq
raw_data/peak_tile/bc_map/pPeakTiling_83_S4_R2_001.fastq
raw_data/peak_tile/bc_map/pPeakTiling_82_S3_R2_001.fastq
raw_data/peak_tile/bc_map/pPeakTiling_82_S3_R1_001.fastq
raw_data/peak_tile/bc_map/pPeakTiling_83_S4_R1_001.fastq
scripts/frag_peak_calling/FragmentBarcodes.txt
