*.fastq
processed_data/frag_peak_calling/sam_stats.txt
processed_data/frag_peak_calling/frag_stats.txt
processed_data/frag_peak_calling/3prime.txt
processed_data/frag_peak_calling/barcode_maps.txt
processed_data/frag_peak_calling/5prime.txt
processed_data/frag_peak_calling/U00096.2_Align.sam
processed_data/frag_peak_calling/pFrag_80.txt
processed_data/frag_peak_calling/pFrag_83.txt
processed_data/frag_peak_calling/U00096.2_frag-rLP5_LB_expression.txt
processed_data/endo_bc_map_merged_reads_pear/pEndo2_85.paired.assembled.fastq
processed_data/endo_bc_map_merged_reads_pear/pEndo2_85.paired.discarded.fastq
processed_data/endo_bc_map_merged_reads_pear/pEndo2_84.paired.discarded.fastq
processed_data/endo_bc_map_merged_reads_pear/endo_merged.fastq
processed_data/filtered_fragments_sorted.txt
processed_data/expression_pipeline/endo_mapping_barcode_statistics.txt
scripts/mismatches.txt
scripts/frag_peak_calling/FragmentBarcode_minus.fa.out
scripts/frag_peak_calling/FragmentBarcodes.txt
